@import "tailwindcss";
@plugin '@tailwindcss/typography';

* {
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

:focus:not(:focus-visible) {
	outline: none;
}

html {
	height: 100dvh;
	width: 100%;
}
