name: "Build and deploy"
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v3.9.1
        with:
          node-version: 22
      - name: Build
        run: |
          npm ci
          npm run build
      - name: Upload artefacts
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          rm: true
          source: "build/*"
          target: "/root/auto-i18n"
      - name: PM2 restart
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          script: |
            PATH=$PATH:/root/.nvm/versions/node/v22.15.0/bin
            pm2 restart auto-i18n
